.main-content .navbar-top
{
    position: static;
}

.navbar-vertical .navbar-nav .nav-link > i
{
    min-width: 1.75rem;
}

.navbar-vertical .navbar-nav ul li .nav-link > i
{
    min-width: 1.45rem;
}

.bg-form
{
    border:1px solid #ced4da;
    background-color: #e9ecef;
}


.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img
{
    max-width: 100%;
    max-height: 4rem;
}

@media (min-width: 768px)
{
    .navbar-vertical.navbar-expand-md .navbar-brand-img
    {
        max-height: 6.5rem;
        background-color: #e9ecef;
        border: 2px solid #adb5bd;
        border-radius: 50%;
        padding: .35rem;
    }

    .navbar-vertical .navbar-collapse:before
    {
        margin: .50rem -1rem;
    }

}

@media (min-width: 992px)
{
    .navbar-vertical.navbar-expand-lg .navbar-brand-img
    {
        max-height: 4.5rem;
    }
}

@media (min-width: 1200px)
{
    .navbar-vertical.navbar-expand-xl .navbar-brand-img
    {
        max-height: 4.5rem;
    }
}
